<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Admins Setting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<body>
    <div class="text">
        <button class="btn-blue"><a href="/dashboard">Back to Dashboard</a></button>
        <h1>All Admins Info.</h1>
        <br>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Job Title</th>
                    <th>Level</th>
                    <th>Branch</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_admins_info: %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.job_title }}</td>
                    <td>{{ user.level_identifier }}</td>
                    <td>{{ user.branch }}</td>
                    <td>
                        {% if user.level_identifier %}
                            <button class="btn-red"><a href="/delete/admin/{{ user.id }}">De-active</a></button> ||
                            {% else: %}
                            <button class="btn-yellow"><a href="/activate/admin/{{ user.id }}">Active</a></button> ||
                        {% endif%}
                        <button class="btn-gray"><a href="/view/admin/{{ user.id }}">View</a></button> || 
                        <button class="btn-tile"><a href="/edit/admin/{{ user.id }}">Edit</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="error-msg ">*** you must ACTIVATE admin user before EDIT Org. Level / Branch / Job Title</p>
    </div>
</body>
</html>