{% if all_tickets %}
<h4>{{ count.count }} records(s) found</h4>
<table>
    <thead>
        <tr>
            <th class="sort" value="id">Ticket No.</th>
            <th class="sort" value="title">Title</th>
            <th class="sort" value="urgency">Urgency</th>
            <th class="sort" value="admin_id">Requestor</th>
            <th class="sort" value="est_due_date">Est. Due Date</th>
            <th class="sort" value="status">Status</th>
            <th class="sort" value="timeline">Timeline</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="table-content">
        {% for ticket in all_tickets%}
        <tr>
            <td>{{ticket.id}}</td>
            <td class = "ticket-title">{{ticket.title}}</td>
            <td>{{ticket.urgency}}</td>
            <td>{{ticket.first_name}}</td>
            <td>{{ticket.est_due_date}}</td>
            <td>{{ticket.status}}</td>

            <td>
                <button class="btn-gray"><a href="/view/ticket/{{ticket.id}}">View</a></button> || 
                {% if session["admin_level"] %}
                <button class="btn-tile"><a href="/edit/ticket/{{ticket.id}}">Edit</a></button> ||
                {% endif %}
                <button class="btn-yellow"><a href="/edit/ticket/{{ticket.id}}">Comment</a></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h4 class="error-msg">0 records found</h4>
{% endif %}