* {
    font-family: 'Roboto', sans-serif;
}

.text {
    margin: 50px;
    font-size: medium;
}

form {
    margin: 25px 0;
}

.form-item {
    display: flex;
    flex-direction: column;
}

form label {
    padding: 5px 0;
    font-weight: 600;
}

form input, select {
    max-width: 50vh;
    min-width: 25vh;
    height: 35px;
    background: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type=text], input[type=password], input[type=date], select, textarea {
    padding: 5px;
    font-size: 16px;
}

textarea {
    max-width: 50vh;
    min-width: 25vh;
    height: 250px;
    background: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.danger {
    color: #f44336;
}

button {
    padding: 7px;
    border-radius: 4px;
    box-shadow: 3px 3px #FFFFF0;
    min-width: 75px;
}

button a {
    color: #fff;
    text-decoration: none;
}

.btn-yellow {
    background-color: #FFD700;
}

.btn-blue {
    background-color: #00AAFF;
    margin-bottom: 10px;
}

.btn-red {
    background-color: #f44336;
}

.btn-tile {
    background-color: #5F9EA0;
}

.btn-gray {
    background-color: #808080;
}

input[type=submit] {
    margin-top: 10px;
    padding: 5px;
    width: 70px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    background: #00AAFF;
    box-sizing: content-box;
}

.error-msg {
    display: block;
    margin-top: 15px;
    color: #d50000;
    font-size: 16px;
    border-radius: 6px;
    line-height: 1.5;
}