.text {
    display: flex;
    font-size: medium;
}

.text img {
    z-index: -1;
    padding: 5px;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    margin-right: 3%;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    line-height: 1.5;
    font-size: 16px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

form label {
    padding: 5px 0;
    font-weight: 600;
}

form input {
    min-width: 25vh;
    height: 35px;
    background: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form input:focus {
    background: #fff;
}

input[type=text], input[type=password] {
    padding: 5px;
    font-size: 16px;
}

input[type=submit] {
    margin-top: 10px;
    padding: 5px;
    width: 70px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    background: #00AAFF;
    box-sizing: content-box;
}

.form-content a {
    font-size: small;
}

.error-msg {
    display: block;
    margin-top: 15px;
    color: #d50000;
    font-size: 16px;
    border-radius: 6px;
    line-height: 1.5;
}