.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: 0.5s;
}

.sidebar.active {
    width: 240px;
}

.logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.sidebar.active .logo{
    opacity: 1;
    pointer-events: none;
}

.logo i {
    font-size: 28px;
    margin-right: 7px;
}

.logo-name {
    font-size: 20px;
    font-weight: 400;
}

#btn {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    /* move the X-axis to left 50%, if it's positive #, then move to right */
    transform: translateX(-50%)
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0px 5px;
    line-height: 50px;
    list-style: none;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 10px;
    transform: translate(-50%, -50%);
    height: 35px;
    line-height: 35px;
    width: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
    transition: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.sidebar.active ul li .tooltip {
    display: block;
}

.sidebar ul li:hover .tooltip {
    top: 25px;
    transition: 0.5s;
    opacity: 1;
}

.sidebar.active ul li:hover .tooltip {
    top: 25px;
    transition: 0.5s;
    opacity: 0;
}

#search-icon {
    position: absolute;
    /* z-index specifies the stack order of an element, 1 is on top, -1 is below*/
    z-index: 1;
    color: #fff;
    font-size: 22px;
    transition: 0.5;
}

#search-icon:hover {
    background: #fff;
    color: #1d1b31;
}

#search {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    /* outline is a line drawn outside the element's border. */
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    /* sets how white space inside an element is handled. Ex: when word is too long, it wont wrap it, so position will be nicer ** naming is too long** */
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
    /* effect of show long it will take to transition */
    transition-duration: 0.5s;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.profile-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1d1b31;
    padding: 10px;
    border-radius: 12px;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: 0.5s;
    background: none;
}

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}

.profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile-details {
    opacity: 1;
    pointer-events: auto;
}

.profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.name-job {
    margin-left: 10px;
}

.name {
    font-size: 15px;
    font-weight: 400;
}

.job {
    font-size: 12px;
}

#logout {
    position: absolute;
    bottom: 5px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    transition: 0.5s;
    background: #1d1b31;
}

.sidebar.active #logout {
    left: 90%;
    background: none;
}

.home-content {
    position: absolute;
    height: 100%;
    /* sidebar is 78px width in sidebar class */
    width: calc(100% - 78px);
    left: 78px;
    transition: 0.5s;
    z-index: -1;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500px;
    color: #1d1b31;
    margin: 12px;
}

/* General Sibling Selector: selects all next .home-content elements that are siblings of .sidebar.active elements*/
.sidebar.active ~ .home-content {
    /* sidebar is 240px width */
    width: calc(100% - 240px);
    left: 240px;
}